<div class="container">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="card" style="width: 20rem;">
      <div class="card-header">
          <h4 class="row justify-content-center">Shortcode Stats</h4>
      </div>
      <% if !@url.nil? %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5>Shortcode: <%= link_to @url.code, short_path(@url.code), target: "_blank" %></h5></li>
          <li class="list-group-item"><h5>Times Accessed: <%= @url.count_visit %><h5></li>
          <li class="list-group-item"><h5>Date Registered: <%= @url.created_at %></h5></li>
          <li class="list-group-item"><h5>Last Accessed: <%= @url.updated_at %></h5></li>
        </ul>
      <% end %>
    </div>
    <%= link_to "generate new code", urls_path %>
  </div>
</div>

